[submodule "lua-sand-engine"]
	path = lua-sand-engine
	url = https://github.com/Nrosa01/lua-sand-engine
[submodule "rust-sand-engine"]
	path = rust-sand-engine
	url = https://github.com/Nrosa01/rust-sand-engine
[submodule "pixel-creator"]
	path = pixel-creator
	url = https://github.com/Nrosa01/pixel-creator
[submodule "compute_shader_sandsim"]
	path = compute_shader_sandsim
	url = https://github.com/Jonandra/compute_shader_sandsim
